body {
	background-color: #333;
	margin: 0;
	padding: 0;
}
h1 {
	margin-top: 30px;
	height: 80px;
	color: white;
	font-family: "helvetica" ;
	text-align: center;
	font-size: 40px;
	font-variant-caps: all-small-caps;
}
#sub-head {
	margin-top: -65px;
	margin-bottom: 40px;
	font-size:16px;
	font-variant-caps: small-caps;
	color: #f55079;
	font-family: "helvetica" ;
	text-align: center;
}
ul {
	height: 50px;
	list-style-type: none;
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
	background-color: #333;
	font-family: "helvetica" ;

}
li {
	display: inline;
	margin: 0 0 20px 0;
	padding: 0;
/*	border-bottom: 4px #f55079;*/
}
li a{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 16px 50px 16px 50px;
	text-decoration: none;
	border-bottom: 4px #f55079;
	transition-property: background-color;
	transition-delay: .2s;
	transition-duration: 2s;
	transition-timing-function: ease;
}
li a:hover {
	background-color: #111111;
}
.container_main {
	max-width: 600px;
	margin: auto;
	text-align: center;
	color: #ffffff;
	font-family: "helvetica" ;
}

.container_contact {
	max-width: 600px;
	margin: auto;
	text-align: center;
	color: #ffffff;
	font-family: "helvetica" ;
}

.text_field_format {
	background-color: #ddc4c1;
	border: 1px solid #f55079;
}

.error_message_format {
	text-transform: uppercase;
	font-size: .7em;
	font-weight: bold;
	color: red;
}