body {
  background-color: #333;
}

div.container {
  width: 962px;
  margin: auto;
}
header, footer {
  padding: 20px;
  color: #FFFFFF;
  background-color: #333;
  clear: left;
  text-align: center;
  font-family: "helvetica"
}

.nav{
    border-width:1px 0;
    list-style-type: none;
    margin:0;
    padding:0;
    position: fixed;
    top: 0;
    width: 100%;
    text-align:center;
    background-color: #333;
    font-family: "helvetica"
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    padding:14px 16px;
}
.nav a:hover{
  background-color: #111;
}

p {
  text-align: left;
  float: left;
  font-family: "helvetica";
  color: #FFFFFF;
}
